<context>
  <what-this-is>
    This is a crate called 'enforcer' that enforces structural rules on a Rust codebase. The enforcer reports any violations of rules. We are running it on this codebase itself, but also of course intend to use it on other codebases.
  </what-this-is>
  <tests>
    There is no test suite at the moment. Don't add tests unless asked.
  </tests>
</context>